* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background-color: black;
}

.calculatrice {
    max-width: 100%;
    background-color: black;
}

.screen {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: end;
    border-radius: 10%;
    font-size: 1.8rem;
    margin: 1rem 0;
    color: white;
}

.affichage {
    height: 2.5rem;
    padding-right: 0.5rem;
}

button {
    width: 25%;
    height: 20%;
    border-radius: 40px;
    padding: 30px;
    gap: 15px;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
    text-align: center;
}

.orange {
    background-color: orange;
}

.noire {
    background-color: rgb(33, 33, 33);
}

.grise {
    background-color: grey;
}

.cercle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#idResultat{
    text-align: left;
}